// #region color palette
$light_color: #FFFFFF;
$dark_color: #222527;
$body_background: #f3f4f6;
$text_muted_color: #a7a8aa;
$main_color: #007464;
$active_dark_color: #02AF9A;
$active_light_color: #E6F6F5;
$bin_light_color: #F1F3F5;
$scheduled_dark_color: #EBB44E;
$scheduled_light_color: #FAEED7;
$deleted_dark_color: #E1281E;
$deleted_light_color: #FBEDEC;
$border_radius: 5px; // #endregion color palette


body {
    background: $body_background;

}

.wrapper {
    margin: 16px;
    background: $light_color;
    border-radius: $border_radius;
    height: 100vh;
}