// #region top_header

header {
    padding: 16px
}

.header_buttons button {
    border-radius: $border_radius;
    padding: 8px 16px;
}

.outline_success {
    border: 1px solid $main_color;
    color: $main_color;
    background-color: $light_color;
}

.bg_success {
    border: none;
    background-color: $main_color;
    color: $light_color;
}

.header_sub {
    color: $text_muted_color;
    margin-top: 16px;
}

// #endregion top_header

// #region search_form

.search_form input,
.search_form select,
#checkbox_form {
    border: 1px solid $text_muted_color;
    border-radius: $border_radius;
    padding: 8px
}

.search_form label {
    font-weight: bold;
}

#checkbox_form {
    align-self: flex-end;
    background-color: $bin_light_color;
    border: none;
    font-weight: 500;
}

// #endregion search_form