.main_table {
    width: 100%;
    margin: 16px;
}

.main_table tr {
    border-bottom: 1px solid $text_muted_color;
}

.table_head {
    color: $text_muted_color;
    text-transform: uppercase;
    font-weight: normal;
}

.main_table .title {
    font-weight: bold;
}

.main_table .status {
    padding: 8px;
    background: $active_light_color;
    color: $active_dark_color;
    border-radius: $border_radius;
    margin: 8px 0;
    margin-right: 8px;
    font-weight: bold;
    width: 50%;
}