.main_table {
    width: 100%;
    margin: 16px;
}

.main_table tr {
    border-bottom: 1px solid $text_muted_color;
}

.table_head {
    color: $text_muted_color;
    text-transform: uppercase;
    font-weight: normal;
}

.main_table .title {
    font-weight: bold;
}

// #region status


.main_table .status {
    padding: 8px;
    border-radius: $border_radius;
    margin: 8px 0;
    margin-right: 8px;
    font-weight: bold;
    width: 50%;
}


// #endregion status

.operations {
    position: absolute;
    top: 0;
    right: 10%;
    background-color: $light_color;
    box-shadow: 0px 0px 10px 0px;
    padding: 16px;
    border-radius: $border_radius;
    display: none;
    z-index: 2;
}